{% extends 'base.html' %}

{% block title %}
Sign In
{% endblock %}

{% block content %}
<h1>User Profile:</h1>
<ul>
    <li>Username: <b>{{user.username}}</b></li>
    <li>Email: <b>{{user.email}}</b></li>
    <li>First Name: <b>{{user.first_name}}</b></li>
    <li>Last Name: <b>{{user.last_name}}</b></li>
</ul>
<p><a href="/users/{{user.username}}/delete"  class="btn btn-danger">Delete User</a></p>

<h1>Feedback</h1>
<form action="/users/{{user.username}}/feedback/add" method="post">
    {{ form.hidden_tag() }} 
    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}<br>
            {{field}}
        </p>
        {% endfor %} 
    <button class="btn btn-success">Add Feedback</button>
    </form><br>
<h1>Previous Posts:</h1>
    <!-- Check if user has existing posts -->
    {% if posts %}
        {% for post in posts %}
        <p>
            <a href="/feedback/{{post.id}}/update" class="badge badge-secondary">Edit</a>&nbsp;
            <a href="/feedback/{{post.id}}/delete" class="badge badge-danger">Delete</a>&nbsp;
            {{post.content}}</p>
        {% endfor %}
    {% else %}
    <p>Submit your first feedback post above!</p>
    {% endif %}

<br>
<p>
<a href="/home" class="btn btn-primary">Home Page</a>
<a href="/logout" class="btn btn-warning">Log Out</a>
<p>

{% endblock %}