{% extends 'base.html' %}

{% block title %}
Sign In
{% endblock %}

{% block content %}
<h1>User Profile:</h1>
<ul>
    <li>Username: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
    <li>First Name: {{user.first_name}}</li>
    <li>Last Name: {{user.last_name}}</li>
</ul>
<p class="btn btn-warning"><a href="/users/{{user.username}}/delete" >Delete User</a></p>
<br>
<h1>Feedback Posts:</h1>
<ol>
    {% for post in posts %}
    <li>{{post.content}}</li>
    {% endfor %}
</ol>

<br>
<p>
<a href="/home" class="btn btn-primary">Home Page</a>
<p>

{% endblock %}